h1{
	display: inline-block;
	overflow: hidden;
	border-right: .15em solid black;
	white-space: nowrap;
	margin: 0 auto;
	animation: 
	typing 3s steps(40, end),
	blink-caret .75s step-end infinite;
	padding-top: 10px;
}

@keyframes typing{
	from { width: 0 }
	to { width: 15%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black; }
}

header{
	padding-top: 10px;
	font-family: Helvetica Neue;
	padding-bottom: 5px;
	transition: .5s;
	font-size: 150%;
}

nav{
	display: flex;
	justify-content: space-around;
}

nav a{
	text-decoration: none;
}

#emailhead{
	border-bottom: dotted;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#home:visted, #git:visited, #github:visited{
	color: black;
}

#home:hover, #git:hover, #github:hover{
	color: #ebd7fa;
}

main{
	margin-left: 100px;
	margin-right: 100px;
	font-family: courier;
	border-style: solid;
	border-width: 2px;
	border-top-width: 22px;
	margin-top: 5px;
	padding: 20px;
	border-radius: 8px;
	background: white;
	opacity: 0.91;
	border-color: #D3D3D3;
}

body{
	background-image: url(../img/bash-background.png);
	background-repeat: no-repeat;

}

#end{
	font-size: 140%;
}