h2{
	display: inline-block;
	overflow: hidden;
	border-right: .15em solid black;
	white-space: nowrap;
	margin: 0 auto;
	animation: 
	typing 3s steps(40, end),
	blink-caret .75s step-end infinite;
	padding-top: 10px;
}

@keyframes typing{
	from { width: 0 }
	to { width: 15%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black; }
}

header{
	padding-top: 20px;
	font-family: Helvetica Neue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	transition: .5s;
	text-decoration: none;
	font-size: 150%;
}

nav{
	display: flex;
	justify-content: space-around;
}

nav a{
	text-decoration: none;
}

#emailhead{
	border-bottom: dotted;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#home:visted, #git:visited, #github:visited{
	color: black;
}

#home:hover, #git:hover, #github:hover{
	color: #ebd7fa;
	border-radius: 50px;
}

main{
	margin-left: 60px;
	margin-right: 60px;
	font-family: courier;
	border-style: solid;
	margin-top: 10px;
	padding: 30px;
	border-radius: 10px;
	background: white;
}

#end{
	font-size: 140%;
}